{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row align-items-center py-1">
    <div class="col-md-12 text-white">
        <h1>Dear customers!</h1>
        <p class="text-center"><img src="{% static '/app/assets/img/pupkin.jpg' %}" width="50%"></p>
        <p>
            I'm Uasya Pupkin - the best guitar master in the world!
            I assemble the coolest guitars for the highest price you can imagine.
            So, if you want cool things you should pay a lot, shouldn't you? Right! I think so!
            Enjoy choosing guitar parts in my shop for your dream-guitar, then wait only a few weeks and get
            an amazing one!
        </p>
    </div>
</div>
{% endblock %}