{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row align-items-center py-1">
    <div class="col-md-12 text-white">
        <h1>Thanks for your choice, {{ name }}!</h1>
        <div class="text-center">
            <p>You requested: {{ color }} "{{ brand }}" with {{ bodywood }}-body & {{ neckwood }}-neck.
                {{ pickups }} pickups would be installed.</p>
            <p>I'll contact you soon by number you left: {{ tel }}.</p>
            <p>Order #{{ order_id }} accepted at: {{ date }}</p>
            <p><img src="{{ pic.url }}"></p>
        </div>
    </div>
</div>
{% endblock %}